.cart{
    position: sticky;
    top: 10px;
}
h3.cart-title {
    font-family: arial;
    font-weight: 500;
    font-size: 22px;
}
button.choose-forMe {
    padding: 10px 17px;
    border: none;
    background-color: aqua;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
}
button.choose-again {
    padding: 10px 17px;
    border: none;
    background-color: #9100ffc2;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}