.cart{
    position: sticky;
    top: 10px;
    text-align: center;
    border: 1px solid #cbbebe;
    padding: 5px;
    padding-bottom: 17px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 6px 7px 12px grey;
}
h3.cart-title {
    font-family: arial;
    font-weight: 500;
    font-size: 22px;
}
button.choose-forMe {
    padding: 10px 17px;
    border: none;
    background-color: aqua;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
}
button.choose-again {
    padding: 10px 17px;
    border: none;
    background-color: #9100ffc2;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}